<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout"  data-ng-app="indexPageApp">
    <head>
        <title>TravelExpenses | Account settings</title>
        <script src="../../static/js/Chart.min.js" th:href="@{/static/js/Chart.min.js}"></script>
    </head>
    <body>
        <div layout:fragment="content">

            <div class="account-settings">
                <div class="row page-topic">
                    <div class="medium-12 columns">
                        <h1>Account settings</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="medium-12 columns">
                        <div class="index-wrapper">
                            <div class="row">
                                <div class="medium-12 columns">
                                    <h3>Account info</h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="medium-12 columns">
                                    <label>Name <br/><h4 th:text="${user.name}">Name</h4></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="medium-12 columns">
                                    <label>Username <br/><h4 th:text="${user.username}">Username</h4></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="medium-12 columns">
                        <div class="index-wrapper">
                            <div class="row">
                                <div class="medium-12 columns">
                                    <h3>Change password</h3>
                                </div>
                            </div>
                            <div th:include="changepasswordForm:: changePasswordForm" />
                        </div>
                    </div>
                </div>


            </div>

            <!--
            <div class="statistics">
                    <div class="row  page-topic">
                        <div class="small-12 columns">
                            <h1>Statistics</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns">
                            <canvas id="canvas" height="200" width="200"></canvas>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-5 columns">
                            <span class="color saved"> </span> Saved
                        </div>
                        <div class="small-3 columns">
                            NN
                        </div>
                        <div class="small-4 columns">
                            XX.xx€
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-5 columns">
                            <span class="color waiting"> </span> Waiting
                        </div>
                        <div class="small-3 columns">
                            NN
                        </div>
                        <div class="small-4 columns">
                            XX.xx€
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-5 columns">
                            <span class="color accepted"> </span> Accepted
                        </div>
                        <div class="small-3 columns">
                            NN
                        </div>
                        <div class="small-4 columns">
                            XX.xx€
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-5 columns">
                            <span class="color returned"> </span> Returned
                        </div>
                        <div class="small-3 columns">
                            NN
                        </div>
                        <div class="small-4 columns">
                            XX.xx€
                        </div>
                    </div>
                    <script>
                        var doughnutData = [
                                {
                                    value: 11,
                                    color:"#78C8E6"
                                },
                                {
                                    value : 30,
                                    color : "#FCC244"
                                },
                                {
                                    value : 40,
                                    color : "#00CC0A"
                                },
                                {
                                    value : 3,
                                    color : "#E06969"
                                },
                            ];
                            var myDoughnut = new Chart(document.getElementById("canvas").getContext("2d")).Doughnut(doughnutData);
                    </script>

            </div>
            -->

        </div>
    </body>
</html>