<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8"/>
        <title>TravelExpenses | Change password</title>
    </head>
    <body>
        <div th:fragment="changePasswordForm">

            <form data-abide="" id="change-password-form" method="POST" th:action="@{/account/password/save}">
                <button type="submit" style="visibility: hidden; display: none;">Save</button>

                <div class="row">
                    <div class="medium-12 columns">
                        <div class="password-field">
                            <label>Password <small>required</small> <input type="password" id="password" name="newPassword" required=""/> </label>
                            <small class="error">Your password must match the requirements</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-12 columns">
                        <div class="password-confirmation-field">
                            <label>Confirm Password <small>required</small> <input type="password" id="confirm-password" required="" data-equalto="password"/> </label>
                            <small class="error">The password did not match</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-12 columns">
                        <a href="#" class="button small radius" id="admin-user-data-form-submit" onclick="document.getElementById('change-password-form').submit();">Save</a>
                        <a th:if="!${user.getPasswordExpired()}" href="#" class="button small radius" id="admin-user-data-form-cancel" style="background-color: red;" th:href="@{/admin/users}">Cancel</a>
                    </div>
                </div>

            </form>

        </div>
    </body>
</html>