<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <head>
        <title>TravelExpenses | Edit account</title>
        <script type="text/javascript">
            window.addEventListener("DOMContentLoaded", function () {
                var form = document.getElementById("admin-user-data-form");
                document.getElementById("admin-user-data-form-submit").addEventListener("click", function () {
                    form.submit();
                });
            });
        </script>
    </head>
    <body>
        <div layout:fragment="content">

            <div class="row users-topic">
                <div class="medium-12 columns">
                    <h1 th:if="${user.id == null}">Create user</h1>
                    <h1 th:if="${user.id != null}">Edit user</h1>
                </div>
            </div>


            <div class="admin-user-data">
                    <form data-abide="" id="admin-user-data-form" method="POST" th:action="@{/admin/user/save}">
                        <input type="hidden" id="id" name="id" th:value="${user.id}"/>
                        <div class="row">
                            <div class="medium-12 columns">
                                <div class="name-field">
                                    <label>Name <small>required</small> <input type="text" id="name" name="name" required="" th:value="${user.name}" autocomplete="off"/> </label>
                                    <small class="error">Your must give name</small>
                                </div>
                                <div class="username-field">
                                    <label>Username <small>required</small> <input type="text" id="username" name="username" required="" th:value="${user.username}" autocomplete="off"/> </label>
                                    <small class="error">Your must give username</small>
                                </div>
                            </div>
                        </div>

                        <div class="row" th:if="${user.id == null}">
                            <div class="medium-6 columns">
                                <div class="password-field">
                                    <label>Password <small>required</small> <input type="password" id="password" name="password" required="" autocomplete="off"/> </label>
                                    <small class="error">Your password must match the requirements</small>
                                </div>
                            </div>
                            <div class="medium-6 columns">
                                <div class="password-confirmation-field">
                                    <label>Confirm Password <small>required</small> <input type="password" required="" data-equalto="password" autocomplete="off"/> </label>
                                    <small class="error">The password did not match</small>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="medium-12 columns">
                                <label>Authorities</label>
                                <input id="role-user" type="checkbox" name="roles" value="USER"/><label for="role-user">User</label>
                                <input id="role-admin" type="checkbox" name="roles" value="SUPERVISOR"/><label for="role-admin">Admin</label>
                                <input id="role-supervisor" type="checkbox" name="roles"  value="ADMIN"/><label for="role-supervisor">Supervisor</label>
                            </div>
                        </div>
                        <input type="submit" value="Sign in" style="display: none; visibility: hidden;"/>
                        <a href="#" class="button" id="admin-user-data-form-submit">Save</a>
                        <a href="#" class="button" id="admin-user-data-form-cancel" style="background-color: red;" th:href="@{/admin/users}">Cancel</a>
                    </form>

            </div>

        </div>

    </body>
</html>