<!DOCTYPE html>
<!--
Page for managing expenses. Under construction.
-->
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>        
        <title>Expenses</title>
        <link rel="stylesheet" href="../../static/foundation-5.4.6/css/foundation.css"
              th:href="@{/static/foundation-5.4.6/css/foundation.css}"/>
        <link rel="stylesheet" href="../../static/foundation-5.4.6/css/expenses.css"
              th:href="@{/static/foundation-5.4.6/css/expenses.css}"/>
        <script src="../../static/foundation-5.4.6/js/vendor/modernizr.js"
        th:href="@{/static/foundation-5.4.6/js/vendor/modernizr.js}"></script>        

    </head>
    <body>
        <div>Page for managing expenses</div>
        <div>Expense information:
            <ol>
                <li>User: John Doe</li>
                <li>Amount: 1500 $</li>
                <li>Submission date: 15.3.2014</li>
            </ol>
        </div>
        <div layout:fragment="content">
            <h2>Delete expense</h2>
            <a href="#" onclick="document.getElementById('login-form').submit();" class="button" role="button">Delete expense</a>
        </div>

        <div layout:fragment="content">
            <h2>modify expense</h2>
            <form id="login-form" method="POST">
                <input type="number" name="cost" placeholder="amount" />
                <a href="#" onclick="document.getElementById('login-form').submit();" class="button" role="button">modify expense</a>
            </form>
        </div>
        <div layout:fragment="content">
            <h2>Validate expense</h2>
            <a href="#" onclick="document.getElementById('login-form').submit();" class="button" role="button">Validate expense</a>
        </div>        
    </body>
</html>
