<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="restrictedLayout">
<head>
    <title>TravelExpenses | Change password</title>
</head>
<body>
<div layout:fragment="content">

    <div class="row">
        <div class="large-12 columns">
            <h1>Change password</h1>
        </div>
    </div>
    <div th:include="changepasswordForm:: changePasswordForm" />

</div>
</body>
</html>