<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <head>
        <title>TravelExpenses | Home</title>
    </head>
    <body>
        <div layout:fragment="content">

            <div class="row page-topic">
                <div class="medium-12 columns">
                    <h1>Dashboard</h1>
                </div>
            </div>

            <div class="row index-wrapper">
                <div class="medium-12 columns">
                    <div th:include="expenses/listFragment :: expenseList ('Drafts', ${drafts})"></div>
                    <div class="row">
                        <div class="medium-12 columns">
                            <a href="#" th:href="@{/expenses(status=DRAFT)}">View all drafts &raquo;</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row index-wrapper">
                <div class="medium-12 columns">
                    <div th:include="expenses/listFragment :: expenseList ('Sent', ${sent})"></div>
                    <div class="row">
                        <div class="medium-12 columns">
                            <a href="#" th:href="@{/expenses(status=SENT)}">View all sent &raquo;</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row index-wrapper">
                <div class="medium-12 columns">
                    <div th:include="expenses/listFragment :: expenseList ('Rejected', ${rejected})"></div>
                    <div class="row">
                        <div class="medium-12 columns">
                            <a href="#" th:href="@{/expenses(status=REJECTED)}">View all rejected &raquo;</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row index-wrapper">
                <div class="medium-12 columns">
                    <div th:include="expenses/listFragment :: expenseList ('Approved', ${approved})"></div>
                    <div class="row">
                        <div class="medium-12 columns">
                            <a href="#" th:href="@{/expenses(status=APPROVED)}">View all approved &raquo;</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>