<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <head>
        <title>Login</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="row">
                <div class="large-12 columns">
                    <h1>Welcome to TravelExpenses</h1>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <p>Tree columns below will show the authorities you have</p>
                    <div class="row">
                        <div class="large-4 medium-4 columns">
                            <div class="callout panel">
                                <p sec:authorize="hasRole('USER')">USER</p>
                            </div>
                        </div>
                        <div class="large-4 medium-4 columns">
                            <div class="callout panel">
                                <p sec:authorize="hasRole('SUPERVISOR')">SUPERVISOR</p>
                            </div>
                        </div>
                        <div class="large-4 medium-4 columns">
                            <div class="callout panel">
                                <p sec:authorize="hasRole('ADMIN')">ADMIN</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>