<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <head>
        <title>TravelExpenses | Home</title>
    </head>
    <body>
        <div layout:fragment="content">

            <div class="row page-topic">
                <div class="large-12 columns">
                    <h1>Travel Expenses</h1>

                </div>
            </div>

            <!-- Just to show user authorities work
            <div class="row">
                <div class="large-12 columns">
                    <p>The columns below will show the authorities you have</p>
                    <div class="row">
                        <div class="large-4 medium-4 columns">
                            <div class="callout panel">
                                <p sec:authorize="hasRole('USER')">USER</p>
                            </div>
                        </div>
                        <div class="large-4 medium-4 columns">
                            <div class="callout panel">
                                <p sec:authorize="hasRole('SUPERVISOR')">SUPERVISOR</p>
                            </div>
                        </div>
                        <div class="large-4 medium-4 columns">
                            <div class="callout panel">
                                <p sec:authorize="hasRole('ADMIN')">ADMIN</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr />
            -->

            <div class="row">
                <div class="large-12 columns">

                </div>
            </div>
        </div>
    </body>
</html>