<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TravelExpenses | Home</title>
    <link rel="stylesheet" href="../../static/foundation-5.4.6/css/foundation.css"
          th:href="@{/static/foundation-5.4.6/css/foundation.css}"/>
    <link rel="stylesheet" href="../../static/css/style.css"
          th:href="@{/static/css/style.css}"/>
    <script src="../../static/foundation-5.4.6/js/vendor/modernizr.js"
            th:href="@{/static/foundation-5.4.6/js/vendor/modernizr.js}"></script>
</head>
<body>

<form style="display: none; visibility: hidden;" id="logout-form" method="post" action="#" th:action="@{/logout}"><input type="submit" value="Logout"/></form>
<nav class="top-bar" data-topbar="" role="navigation">
    <ul class="title-area">
        <li class="name"><h1><a href="#" th:href="@{/}">TravelExpenses</a></h1></li>
        <li class="toggle-topbar menu-icon" sec:authorize="isAuthenticated()"><a href="#"><span>Valikko</span></a></li>
    </ul>
    <section class="top-bar-section" sec:authorize="isAuthenticated()"> <!-- Right Nav Section -->
        <ul class="right">
            <li sec:authorize="hasRole('SUPERVISOR')"><a href="#">You</a></li>
            <li sec:authorize="hasRole('SUPERVISOR')"><a href="#">Subordinates</a></li>
            <li class="has-dropdown"><a href="#" th:text="${#authentication.name}">Drop down</a>
                <ul class="dropdown">
                    <li><a href="#" th:href="@{/account}">Account settings</a></li>
                    <li sec:authorize="hasRole('ADMIN')"><a href="#" th:href="@{/admin/users}">Manage users</a></li>
                    <li><a id="button-logout" href="#" onclick="document.getElementById('logout-form').submit();">Log out</a></li>
                </ul>
            </li>
        </ul>
    </section>
</nav>
    
<div class="row">
    <div class="large-12 columns">
        <div layout:fragment="content"></div>
    </div>
</div>
    
<script src="../../static/foundation-5.4.6/js/vendor/jquery.js"
th:href="@{/static/foundation-5.4.6/js/vendor/jquery.js}"></script>
<script src="../../static/foundation-5.4.6/js/foundation.min.js"
th:href="@{/static/foundation-5.4.6/js/foundation.min.js}"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>
