<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layout">
    <head>
        <title>Login</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="row">

                <div class="medium-6 medium-centered columns">
                    <div class="login-box index-wrapper" style="padding: 3em 5em 3em 5em;">

                        <div class="row">
                            <div class="medium-12 columns">
                                <h2>Sign in</h2>
                            </div>
                        </div>

                        <div class="row">
                            <div class="medium-12 columns">
                                <p th:if="${param.error}" class="alert alert-error">
                                    Invalid username and password.
                                </p>
                                <p th:if="${param.logout}" class="alert alert-success">
                                    You have been logged out.
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="medium-12 columns">
                                <form id="login-form" method="POST" th:action="@{/authenticate}">
                                    <input type="text" name="username" placeholder="Username" />
                                    <input type="password" name="password" placeholder="Password" />
                                    <input type="submit" value="Sign in" class="button small radius" />
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </body>
</html>