
/* Account settings */

.statistics span.color {
	width:12px;
	height:12px;
	display:inline-block;
	float:left;
	margin: 0.3em 0.5em 0 0;
}

.statistics span.saved {
    background:#78C8E6;
}

.statistics span.waiting {
    background:#FCC244;
}

.statistics span.accepted {
    background:#00CC0A;
}

.statistics span.returned {
    background:#E06969;
}


/* Admin */

.page-topic {
    background-color: #eeeeee;
    padding: 1em 0em 1em 0em;
}

.table {
    margin: 1em 0em 2em 0em;
}

.table-topic {
    font-size: 1.2em;
    font-weight: bold;
}

.table-header {
    padding: 1em 0em 1em 0em;
    font-weight: bold;
    font-size: 0.7em;
    color: white;
    background-color: #303030;
}

.table-row {
    padding: 0.4em 0em 0.4em 0em;
    border-bottom: solid 1px #008cba;
    font-size: 0.9em;
}

.table-row:nth-child(2n) {
    background-color: #ecfaff;
}

.users {
    padding: 1em 0em 1em 0em;
}

.user {
    border-top: 1px solid #eeeeee;
    padding:  1em 0em 1em 0em;
    min-height: 5em;
}

/* Edit user */
.admin-user-data {
    margin-top: 1em;
}