
/* Account settings */

.statistics span.color {
	width:12px;
	height:12px;
	display:inline-block;
	float:left;
	margin: 0.3em 0.5em 0 0;
}

.statistics span.saved {
    background:#78C8E6;
}

.statistics span.waiting {
    background:#FCC244;
}

.statistics span.accepted {
    background:#00CC0A;
}

.statistics span.returned {
    background:#E06969;
}

/* Admin */
html, body {
    background-color: #f8f1eb;
    background: url(../img/bg-pattern-1.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
}

.row {
    max-width: 100% !important;
    margin: 0 !important;
}

.index-wrapper {
    background-color: rgba(247, 240, 234, 0.7);
    margin: 1em auto 2em auto !important;
    width: 95%;
    padding-bottom: 1em;
    border-radius: 6px;
}

.status-desc {
    text-transform: lowercase;
}

.status-desc:first-letter, i.status-desc:first-letter {
    text-transform: uppercase;
}

i.status-desc {
    padding: 0;
    margin: 0;
    display:inline;
}

.page-topic {
    background-color: #00d2df;
    padding: 1em 0em 1em 0em;
}

.page-topic h1 {
    color: #ffffff;
}

.page-toolbar {
    padding: 1em 0em 0.5em 0em;
    background-color: #fcfcfc;
    border-bottom: solid 4px #f8f8fa;
}

.page-toolbar .pagination{
    margin-bottom: 0.2rem;
}

.table {
    margin: 0em 0em 1em 0em;
    /*background-color:rgba(255,0,0,0.4);*/
}

.table-topic {
    font-size: 1.2em;
    font-weight: bold;
    padding: 1em 0em 1em 0em;
}

.table .table-header {
    padding: 1em 0em 1em 0em;
    font-weight: bold;
    font-size: 0.7em;
    color: white;
    background-color: #303030;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.table .small-table-header {
    font-weight: bold;
    margin-top: 0.5em;
}

.table-row {
    padding: 0.4em 0em 0.4em 0em;
    border-bottom: solid 1px #00d2df;
    font-size: 0.9em;
    background-color: #ffffff;
}

.table-row:nth-child(2n) {
    background-color: #ecfaff;
}

.table-row:hover, .table-row:nth-child(2n):hover {
    background-color: #f2e2c0;
}

.table-row .button{
    margin: 0em;
}

.table-row:first-child {

}

.table-row:last-child {
    border-bottom: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 15px;
    background-color: #ffffff;

}

.table-row:last-child:hover {
    background-color: #ffffff;
}

.users {
    padding: 1em 0em 1em 0em;
}

.user {
    border-top: 1px solid #eeeeee;
    padding:  1em 0em 1em 0em;
    min-height: 5em;
}

/* Edit user */
.admin-user-data {
    margin-top: 1em;
}


.fi-DRAFT:before,
.fi-SENT:before,
.fi-REJECTED:before,
.fi-APPROVED:before {
    font-family: "foundation-icons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
}

.fi-DRAFT:before { content: "\f194"; }
.fi-SENT:before { content: "\f16a"; }
.fi-REJECTED:before { content: "\f14d"; }
.fi-APPROVED:before { content: "\f126"; }
