<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <head>
        <meta charset="utf-8"/>
        <title>Expense</title>
    </head>
    <body>
        <div th:fragment="addExpenseForm">
            <form id="edit-form" method="POST" th:object="${expense}" th:action="@{/expenses/}">
                <label>Description
                    <input type="text" name="description" th:field="*{description}" />
                </label>
                <label>Start date
                    <input type="date" class="fdatepicker" data-date-format="dd/mm/yyyy" name="startDate" th:field="*{startDate}" />
                </label>
                <label>End date
                    <input type="date" class="fdatepicker" data-date-format="dd/mm/yyyy" name="endDate" th:field="*{endDate}" />
                </label>
                <label>Amount
                    <input type="number" name="amount" placeholder="amount" th:field="*{amount}" />
                </label>
                <input id="edit-form-submit-input" type="submit" class="button" value="Submit" />
            </form>
        </div>
    </body>
</html>
