<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <head>
        <meta charset="utf-8"/>
        <title>Expense</title>
    </head>
    <body>
        <div th:fragment="addExpenseForm">
            <form id="edit-form" method="POST" th:object="${expense}" th:action="@{/expenses/}">
                <div class="row">
                    <div class="medium-12 columns">
                        <label>Description
                            <input type="text" th:field="*{description}" />
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-6 columns">
                        <label>Start date
                            <input type="text" class="fdatepicker" data-date-format="dd/mm/yyyy" th:field="*{startDate}" />
                        </label>
                    </div>
                    <div class="medium-6 columns">
                        <label>End date
                            <input type="text" class="fdatepicker" data-date-format="dd/mm/yyyy" th:field="*{endDate}" />
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-6 columns">
                        <label>Amount
                            <input type="number" step="any" min="0" placeholder="amount" th:field="*{amount}" />
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-12 columns">
                        <input id="edit-form-submit-input" type="submit" class="button" value="Submit" />
                    </div>
                </div> 

                <div th:if="${error}">
                    <p th:text="${error}"></p>
                </div>
            </form>
        </div>
    </body>
</html>
