<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <head>
        <meta charset="utf-8"/>
        <title>Expense</title>
    </head>
    <body>
        <div th:fragment="addExpenseForm">
            <form id="add-expense-form" method="POST" th:object="${expense}" th:action="@{/expenses/}">
                <div class="row">
                    <div class="medium-12 columns">
                        <div class="description-field" th:classappend="${#fields.hasErrors('description')} ? error">
                            <label>Description
                                <input type="text" required="required" th:field="*{description}" th:errorclass="error" />
                            </label>
                            <small class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Incorrect date</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-6 columns">
                        <div class="date-field" th:classappend="${#fields.hasErrors('startDate')} ? error">
                            <label>Start date 
                                <input type="text" required="required" class="fdatepicker" data-date-format="dd/mm/yyyy" th:field="*{startDate}" />
                            </label>
                            <small class="error" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}">Incorrect date</small>
                        </div>
                    </div>
                    <div class="medium-6 columns">
                        <div class="date-field" th:classappend="${#fields.hasErrors('endDate')} ? error">
                            <label>End date 
                                <input type="text" required="required" class="fdatepicker" data-date-format="dd/mm/yyyy" th:field="*{endDate}" />
                            </label>
                            <small class="error" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}">Incorrect date</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="medium-12 columns">
                        <input id="edit-form-submit-input" type="submit" class="button" value="Submit" />
                    </div>
                </div> 
                
                <div th:if="${error}">
                    <p th:text="${error}"></p>
                </div>
            </form>
        </div>
    </body>
</html>
