<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Approve expenses</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="row page-topic">
                <div class="medium-12 columns">
                    <h1>Approve</h1>
                </div>
            </div>

            <div class="row page-toolbar">
                <div class="medium-12 columns" th:include="expenses/paginationFragment :: pagination (${status}, ${paging})"></div>
            </div>

            <div class="row index-wrapper">
                <div class="medium-12 columns">
                    <div th:include="expenses/listFragment :: expenseList (${status}, ${page.getContent()})"></div>
                </div>
            </div>

        </div>
    </body>
</html>
