<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Expense</title>
    </head>
    <body>

        <div layout:fragment="content">

            <div class="row page-topic">
                <div class="large-12 columns">
                    <h1>Approve</h1>
                </div>
            </div>

            <div class="table">

                <div class="row table-topic">
                    <div class="large-12 columns">
                        Expense
                    </div>
                </div>

                <div class="row expense-description">
                    <div class="large-12 columns" th:text="${expense.description}">
                    </div>
                </div>

                <div class="row table-header">
                    <div class="large-3 columns">
                        Start date
                    </div>
                    <div class="large-3 columns">
                        End date
                    </div>
                    <div class="large-4 columns">
                        Modified
                    </div>
                    <div class="large-2 columns">
                        Status
                    </div>
                </div>

                <div class="table-rows">
                    <div class="row table-row">
                        <div class="large-3 columns" th:text="${#calendars.format(expense.startDate,'dd.MM.yyyy')}">
                        </div>
                        <div class="large-3 columns" th:text="${#calendars.format(expense.endDate,'dd.MM.yyyy')}">
                        </div>
                        <div class="large-4 columns" th:text="${#calendars.format(expense.modified,'dd.MM.yyyy HH:mm')}" >
                        </div>
                        <div class="large-2 columns" th:text="${expense.status}">
                        </div>
                    </div>
                </div>
            </div>


            <div class="table">
                <div class="row table-topic">
                    <div class="large-12 columns">
                        Rows
                    </div>
                </div>
                <div class="row table-header">
                    <div class="large-2 columns">
                        Date
                    </div>
                    <div class="large-8 columns">
                        Description
                    </div>
                    <div class="large-2 columns">
                        Amount
                    </div>
                </div>
                <div class="table-rows">
                    <div class="row table-row" th:each="row, stat : ${expense.expenseRows}">
                        <div class="large-2 columns" th:text="${#calendars.format(row.date,'dd.MM.yyyy')}">
                        </div>
                        <div class="large-8 columns" th:text="${row.description}">
                        </div>
                        <div class="large-2 columns">
                            <span th:text="${#numbers.formatDecimal(row.amount, 0, 'COMMA', 2, 'POINT')}"></span> €
                        </div>
                    </div>
                </div>
            </div>

            <div class="row buttons">
                <div class="large-12 columns">
                    <label id="approve-form-submit-label" class="button radius small" for="approve-form-submit">Approve</label>
                    <label id="reject-form-submit-label" class="button alert radius small" for="reject-form-submit">Reject</label>
                </div>
            </div>

            <form id="approve-form" hidden="hidden" method="POST" th:action="@{/expenses/approve/} + ${expense.id} + @{/approve}">
                <input id="approve-form-submit" class="button" type="submit" value="Approve" />
            </form>
            <form id="reject-form" hidden="hidden" method="POST" th:action="@{/expenses/approve/} + ${expense.id} + @{/reject}">
                <input id="reject-form-submit" class="button" type="submit" value="Reject" />
            </form>
        </div>
    </body>
</html>
