<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>        
        <title>Expense</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="row page-topic">
                <div class="large-12 columns">
                    <h1>Expense information</h1>
                </div>
            </div>
                
            <div class="row">
                <div class="large-12 columns">
                  <div th:include="expenses/editForm :: editExpenseForm" />
                  <div class="row">
                      <div class="large-2 columns">
                          <label>Amount
                              <input type="text" name="amount" />
                          </label>
                      </div>
                      <div class="large-6 columns">
                          <label>Description
                              <input type="text" name="description" />
                          </label>
                      </div>
                      <div class="large-2 columns">
                          <label>Date
                              <input type="text" name="date" />
                          </label>
                      </div>
                      <div class="large-2 columns" style="text-align: right;">
                          <a href="#" class="button expand">+ Add row</a>
                      </div>
                  </div>
                        
                  <label id="edit-form-submit" class="button" for="edit-form-submit-input">Save</label>
                  <a href="#" id="delete-button" data-reveal-id="delete-confirm" class="button alert">Delete</a>
                        
                  <div id="delete-confirm" class="reveal-modal" data-reveal="true" data-options="dismiss_modal_class:close-reveal-modal, .reveal-close;">
                      <h2>Are you sure?</h2>
                      <a href="#" id="delete-confirm-button" onclick="document.getElementById('delete-form').submit();" class="button alert" role="button">Delete</a>
                      <a class="close-reveal-modal">&#215;</a>
                  </div>
                  <form id="delete-form" hidden="hidden" method="POST" th:action="@{/expenses/} + ${expense.id} + @{/delete}">
                      <input class="button" type="submit" value="Delete" />
                  </form>
                </div>
            </div>
        </div>
    </body>
</html>
