<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <head>
        <meta charset="utf-8"/>
        <title>Expense</title>
    </head>
    <body>
        <div th:fragment="editExpenseForm">
            <form id="edit-form" th:method="POST" th:object="${expense}" th:action="@{/expenses/} + ${expense.id}">
                <label>User
                    <input type="text" readonly="readonly" th:value="${expense.user.name}" />
                </label>
                <label>Modified
                    <input type="text" required="required" readonly="readonly" th:field="*{modified}" />
                </label>
                <label>Status
                    <select sec:authorize="hasAnyRole('ADMIN')" th:field="*{status}">
                        <option th:each="status : ${statuses}" th:value="${status}" th:text="${status}"></option>
                    </select>
                    <input type="text" sec:authorize="hasRole('USER')" readonly="readonly" th:field="*{status}" />
                </label>
                <div class="description-field" th:classappend="${#fields.hasErrors('description')} ? error">
                    <label>Description
                        <input type="text" required="required" th:field="*{description}" th:errorclass="error" />
                    </label>
                    <small class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Incorrect date</small>
                </div>
                <div class="date-field" th:classappend="${#fields.hasErrors('startDate')} ? error">
                    <label>Start date 
                        <input type="text" required="required" class="fdatepicker" data-date-format="dd/mm/yyyy" th:field="*{startDate}" />
                    </label>
                    <small class="error" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}">Incorrect date</small>
                </div>
                <div class="date-field" th:classappend="${#fields.hasErrors('endDate')} ? error">
                    <label>End date 
                        <input type="text" required="required" class="fdatepicker" data-date-format="dd/mm/yyyy" th:field="*{endDate}" />
                    </label>
                    <small class="error" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}">Incorrect date</small>
                </div>
                <div class="amount-field" th:classappend="${#fields.hasErrors('amount')} ? error">
                    <label>Amount
                        <input type="number" required="required" step="any" min="0" placeholder="amount" th:field="*{amount}" />
                        <small class="error" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Incorrect amount</small>
                    </label>
                </div>
                
                <div class="row page-topic" style="margin: 2em 0 2em 0">
                    <div class="large-10 columns">
                        <h1>Rows</h1>
                    </div>
                </div>
                
                <div class="row" style="margin: 2em 0 2em 0">
                    <div class="large-2 columns">
                        <h3>Date</h3>
                    </div>
                    <div class="large-8 columns">
                        <h3>Description</h3>
                    </div>
                    <div class="large-2 columns">
                        <h3>Amount</h3>
                    </div>
                </div>
                
                <div style="margin: 2em 0 2em 0"> </div>
                
                <div class="row" th:each="row, stat : *{expenseRows}">
                    <div class="large-2 columns">
                        <div class="date-field" th:classappend="${#fields.hasErrors('expenseRows[__${stat.index}__].date')} ? error">
                            <input type="text" required="required" class="fdatepicker" data-date-format="dd/mm/yyyy" th:field="*{expenseRows[__${stat.index}__].date}" />
                            <small class="error" th:if="${#fields.hasErrors('expenseRows[__${stat.index}__].date')}" th:errors="*{expenseRows[__${stat.index}__].date}">Incorrect amount</small>
                        </div>
                    </div>
                    <div class="large-8 columns">
                        <div class="description-field" th:classappend="${#fields.hasErrors('expenseRows[__${stat.index}__].description')} ? error">
                            <input type="text" required="required" th:field="*{expenseRows[__${stat.index}__].description}" th:errorclass="error" />
                            <small class="error" th:if="${#fields.hasErrors('expenseRows[__${stat.index}__].description')}" th:errors="*{expenseRows[__${stat.index}__].description}">Invalid description</small>
                        </div>
                    </div>
                    <div class="large-2 columns">
                        <div class="amount-field" th:classappend="${#fields.hasErrors('expenseRows[__${stat.index}__].amount')} ? error">
                            <input type="number" required="required" step="any" min="0" placeholder="amount" th:field="*{expenseRows[__${stat.index}__].amount}" />
                            <small class="error" th:if="${#fields.hasErrors('expenseRows[__${stat.index}__].amount')}" th:errors="*{expenseRows[__${stat.index}__].amount}">Incorrect amount</small>
                        </div>
                    </div>
                </div>
                <!-- 
                The submit button is hidden so that additional buttons can be positioned nicely.
                This may also be possible with the button visible and better css skills. 
                Add a <label for="edit-form-submit-input">Save</label> element wherever including this in order to have
                a submit button.
                -->
                <input id="edit-form-submit-input" type="submit" hidden="hidden" />
            </form>
        </div>
    </body>
</html>
