<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>        
        <title>Expense</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="row">
                <div class="large-12 columns">
                    <h1>Expense information</h1>
                </div>
            </div>
                
            <div class="row">
                <div class="large-12 columns">
                    
                    <form id="edit-form" method="POST" th:object="${expense}" th:action="@{/expenses/} + ${expense.id}">
                        <input type="hidden" name="id" th:value="${expense.id}" />
                        <input type="hidden" name="user" th:value="${expense.user.id}" />
                        <label>User
                            <input type="text" name="userName" readonly="readonly" th:value="${expense.user.name}" />
                        </label>
                        <label>Modified
                            <input type="text" name="modified" readonly="readonly" th:field="*{modified}" />
                        </label>
                        <label>Status
                            <select name="status" th:field="*{status}">
                                <option th:each="status : ${statuses}" th:value="${status}" th:text="${status}"></option>
                            </select>
                        </label>
                        <label>Description
                            <input type="text" name="description" th:field="*{description}" />
                        </label>
                        <label>Start date
                            <input type="date" class="fdatepicker" data-date-format="dd/mm/yyyy" name="startDate" th:field="*{startDate}" />
                        </label>
                        <label>End date
                            <input type="date" class="fdatepicker" data-date-format="dd/mm/yyyy" name="endDate" th:field="*{endDate}" />
                        </label>
                        <label>Amount
                            <input type="number" name="amount" placeholder="amount" th:field="*{amount}" />
                        </label>
                        <a href="#" id="edit-form-submit" onclick="document.getElementById('edit-form').submit();" class="button" role="button">Save</a>
                        <a href="#" id="delete-button" data-reveal-id="delete-confirm" class="button alert">Delete</a>
                    </form>
                    <div id="delete-confirm" class="reveal-modal" data-reveal="true" data-options="dismiss_modal_class:close-reveal-modal, .reveal-close;">
                        <h2>Are you sure?</h2>
                        <a href="#" id="delete-confirm-button" onclick="document.getElementById('delete-form').submit();" class="button alert" role="button">Delete</a>
                        <a class="close-reveal-modal">&#215;</a>
                    </div>
                    <form id="delete-form" hidden="hidden" method="DELETE" th:action="@{/expenses/${expense.id}}">
                        <input class="button" type="submit" value="Save" />
                    </form>
                </div>
            </div>

            <hr />
            <div class="row">
                <div class="large-10 columns">
                    <h1>Rows</h1>
                </div>
            </div>
            <hr />

            <div class="row">
                <div class="large-2 columns">
                    <label>Amount
                        <input type="text" name="amount" />
                    </label>
                </div>
                <div class="large-6 columns">
                    <label>Description
                        <input type="text" name="amount" />
                    </label>
                </div>
                <div class="large-2 columns">
                    <label>Date
                        <input type="text" name="amount" />
                    </label>
                </div>
                <div class="large-2 columns">
                    <a href="#" class="button expand">+ Add row</a>
                </div>
            </div>

            <div class="row expense-row" th:each="row,status : ${expense.expenseRows}">
                <div class="large-2 columns" th:text="${row.amount}">
                    XX.xx eur
                </div>
                <div class="large-6 columns" th:text="${row.description}">
                    Blab blaablalblalblabla bla bla bla
                </div>
                <div class="large-2 columns" th:text="${row.date}">
                    1.1.1900
                </div>
                <div class="large-2 columns">
                    <a href="#" class="button expand">Edit row</a>
                </div>
            </div>

        </div>
    </body>
</html>
