<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Expenses</title>
    </head>
    <body>
        <div layout:fragment="content">

            <div class="row page-topic">
                <div class="large-9 columns">
                    <h1>Expenses</h1>
                </div>
                <div class="large-3 columns" style="padding-top: 0.8em;">
                    <button href="#" data-dropdown="expense-type" aria-controls="expense-type" aria-expanded="false" class="button radius small expand dropdown status-desc" th:text="${status}">Status</button>
                    <br/>
                    <ul id="expense-type" data-dropdown-content="" class="f-dropdown" aria-hidden="true" tabindex="-1">
                        <li><a href="#" th:href="@{/expenses}">All</a></li>
                        <li><a href="#" th:href="@{/expenses(status=DRAFT)}">Draft</a></li>
                        <li><a href="#" th:href="@{/expenses(status=SENT)}">Sent</a></li>
                        <li><a href="#" th:href="@{/expenses(status=REJECTED)}">Rejected</a></li>
                        <li><a href="#" th:href="@{/expenses(status=APPROVED)}">Approved</a></li>
                    </ul>
                </div>
            </div>

            <div class="row page-toolbar">
                <div class="large-4 columns" th:include="expenses/paginationFragment :: pagination (${status}, ${paging})"></div>
            </div>

            <div th:include="expenses/listFragment :: expenseList (${status}, ${page.getContent()})"></div>

            <div class="row page-toolbar">
                <div class="large-4 columns" th:include="expenses/paginationFragment :: pagination (${status}, ${paging})"></div>
            </div>

        </div>
    </body>
</html>
