<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Expenses</title>
    </head>
    <body>
        <div layout:fragment="content">

            <div class="row page-topic">
                <div class="large-12 columns">
                    <h1>Expenses</h1>
                </div>
            </div>

            <div class="row page-toolbar">
                <div class="large-12 columns">
                    <button href="#" data-dropdown="expense-type" aria-controls="expense-type" aria-expanded="false" class="button radius small dropdown">Status</button>
                    <br/>
                    <ul id="expense-type" data-dropdown-content="" class="f-dropdown" aria-hidden="true" tabindex="-1">
                        <li><a href="#">Draft</a></li>
                        <li><a href="#">Sent</a></li>
                        <li><a href="#">Rejected</a></li>
                        <li><a href="#">Accepted</a></li>
                    </ul>
                </div>
            </div>

            <div th:include="expenses/listFragment :: expenseList ('Drafts', ${expenses})"></div>

        </div>
    </body>
</html>
