<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Expenses</title>
    </head>
    <body>

    <div th:fragment="expenseList (topic, expenses)">
        <div class="row">
            <div class="medium-12">

            <div class="table">
                <div class="row table-topic">
                    <div class="medium-12 columns status-desc">
                        <i th:if="${topic} != null" th:class="'fi-' + ${topic}"> </i><span th:if="${topic} != null" th:text="${topic}">Topic</span>
                        <i th:if="${topic} == null" class="fi-list"> </i><span th:if="${topic} == null">All</span>
                    </div>
                </div>
                <div class="row table-header hide-for-small-only">
                    <div class="medium-1 columns">
                        Start date
                    </div>
                    <div class="medium-1 columns">
                        End date
                    </div>
                    <div class="medium-2 columns">
                        Modified
                    </div>
                    <div class="medium-5 columns">
                        Description
                    </div>
                    <div class="medium-1 columns">
                        Amount
                    </div>
                    <div class="medium-1 columns">
                        Status
                    </div>
                    <div class="medium-1 columns">
                    </div>
                </div>
                <div class="table-rows">
                    <div class="row table-row" th:each="expense : ${expenses}">
                        <div class="medium-1 columns">
                            <span class="show-for-small-only small-table-header">Start date: </span>
                            <span th:text="${#calendars.format(expense.startDate,'dd.MM.yyyy')}">start date</span>
                        </div>
                        <div class="medium-1 columns">
                            <span class="show-for-small-only small-table-header">End date: </span>
                            <span th:text="${#calendars.format(expense.endDate,'dd.MM.yyyy')}">end date</span>
                        </div>
                        <div class="medium-2 columns">
                            <span class="show-for-small-only small-table-header">Modified: </span>
                            <span th:text="${#calendars.format(expense.endDate,'dd.MM.yyyy HH:mm')}">modified</span>
                        </div>
                        <div class="medium-5 columns">
                            <span class="show-for-small-only small-table-header">Description: </span>
                            <span th:text="${expense.description}">description</span>
                        </div>
                        <div class="medium-1 columns">
                            <span th:text="${#numbers.formatDecimal(expense.amount, 0, 'COMMA', 2, 'POINT')}"></span>
                            <i class="fi-euro"></i>
                        </div>
                        <div class="medium-1 columns" >
                            <span class="show-for-small-only small-table-header">Status: </span>
                            <span th:text="${expense.status}">status</span>
                        </div>
                        <div class="medium-1 columns" style="text-align: right;">
                            <a th:if="${approve == null}" href="#" class="button radius tiny" th:href="@{/expenses/} + ${expense.id}">
                                <i class="fi-pencil" th:if="${expense.status.toString() == 'DRAFT'} or ${expense.status.toString() == 'REJECTED'}"></i>
                                <i class="fi-magnifying-glass" th:if="${expense.status.toString() == 'SENT'} or ${expense.status.toString() == 'APPROVED'}"></i>
                            </a>
                            <a th:if="${approve != null}" href="#" class="button radius tiny" th:href="@{/expenses/approve/} + ${expense.id}">
                                <i class="fi-pencil" th:if="${expense.status.toString() == 'DRAFT'} or ${expense.status.toString() == 'REJECTED'}"></i>
                                <i class="fi-magnifying-glass" th:if="${expense.status.toString() == 'SENT'} or ${expense.status.toString() == 'APPROVED'}"></i>
                            </a>
                        </div>
                    </div>
                    <div class="row table-row">
                        <div class="medium-12 columns">

                        </div>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>
    </body>
</html>
