<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Expenses</title>
    </head>
    <body>

    <div th:fragment="expenseList (topic, expenses)">

            <div class="table">
                <div class="row table-topic">
                    <div class="large-12 columns" th:text="${topic}">
                        Expenses
                    </div>
                </div>
                <div class="row table-header">
                    <div class="large-2 columns">
                        Start date
                    </div>
                    <div class="large-2 columns">
                        End date
                    </div>
                    <div class="large-2 columns">
                        Description
                    </div>
                    <div class="large-2 columns">
                        Amount
                    </div>
                    <div class="large-2 columns">
                        Status
                    </div>
                    <div class="large-2 columns">
                    </div>
                </div>
                <div class="table-rows">
                    <div class="row table-row" th:each="expense : ${expenses}">
                        <div class="large-2 columns" th:text="${#calendars.format(expense.startDate,'dd.MM.yyyy')}">
                        </div>
                        <div class="large-2 columns" th:text="${#calendars.format(expense.endDate,'dd.MM.yyyy')}">
                        </div>
                        <div class="large-2 columns" th:text="${expense.description}">
                        </div>
                        <div class="large-2 columns">
                            <span th:text="${#numbers.formatDecimal(expense.amount, 0, 'COMMA', 2, 'POINT')}"></span> €
                        </div>
                        <div class="large-2 columns" th:text="${expense.status}">
                        </div>
                        <div class="large-2 columns" style="text-align: right;">
                            <a href="#" class="button radius small" th:href="@{/expenses/} + ${expense.id}">Edit</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>
