<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>        
        <title>Expenses</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="row">
                <div class="large-12 columns">
                    <h1>Expenses</h1>
                    <table>
                        <thead>
                            <tr>
                                <th>Start date</th>
                                <th>End date</th>
                                <th>Description</th>
                                <th>Amount</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="expense : ${expenses}">
                                <td><a th:href="@{/expenses/} + ${expense.id}" th:text="${expense.startDate}">2014-11-10</a></td>
                                <td><a th:href="@{/expenses/} + ${expense.id}" th:text="${expense.endDate}">2014-11-10</a></td>
                                <td><a th:href="@{/expenses/} + ${expense.id}" th:text="${expense.description}">blaa blaa</a></td>
                                <td><a th:href="@{/expenses/} + ${expense.id}" th:text="${expense.amount}">5000</a></td>
                                <td><a th:href="@{/expenses/} + ${expense.id}" th:text="${expense.status}">SAVED</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
