<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Expenses</title>
</head>
<body>

    <!-- Pagination Bar -->
    <div th:fragment="pagination (status, paging)">

        <ul class="pagination" role="menubar" aria-label="Pagination">

            <!-- Prev -->
            <li th:class="${paging.isFirstPage()} ? 'arrow unavailable' : 'arrow'" th:attr="aria-disabled=${paging.isFirstPage()}">
                <a th:if="${paging.hasContent()} and ${not paging.isFirstPage()}"
                   href="#"
                   th:with="baseUrl=(${approve} != null? '/expenses/approve/list' : '/expenses')"
                   th:href="@{${baseUrl}(status=${status}, pageNumber=(${paging.getCurrentPage()}-1))}">&laquo; Previous</a>
                <a th:if="${not paging.hasContent()} or ${paging.isFirstPage()}" href="#">&laquo; Previous</a>
            </li>

            <li th:each="prev : ${paging.getPrevPages()}">
                <a href="#"
                   th:with="baseUrl=(${approve} != null? '/expenses/approve/list' : '/expenses')"
                   th:href="@{${baseUrl}(status=${status}, pageNumber=${prev})}"
                   th:text="(${prev})">n</a>
            </li>
            <li class="current"><a href="#" th:text="(${paging.getCurrentPage()})">n</a></li>
            <li th:each="next : ${paging.getNextPages()}">
                <a href="#"
                   th:with="baseUrl=(${approve} != null? '/expenses/approve/list' : '/expenses')"
                   th:href="@{${baseUrl}(status=${status}, pageNumber=${next})}"
                   th:text="(${next})">n</a>
            </li>

            <!-- <li class="unavailable" aria-disabled="true"><a href="">&hellip;</a></li> -->

            <!-- Next -->
            <li th:class="(${not paging.hasContent()} or ${paging.isLastPage()}) ? 'arrow unavailable' : 'arrow'" th:attr="aria-disabled=${paging.isLastPage()}">
                <a th:if="${paging.hasContent()} and ${not paging.isLastPage()}"
                   href="#"
                   th:with="baseUrl=(${approve} != null? '/expenses/approve/list' : '/expenses')"
                   th:href="@{${baseUrl}(status=${status}, pageNumber=(${paging.getCurrentPage()}+1))}">Next &raquo;</a>
                <a th:if="${not paging.hasContent()} or ${paging.isLastPage()}" href="#">Next &raquo;</a>
            </li>
        </ul>

    </div>

</body>
</html>