<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Expense</title>
    </head>
    <body>

        <div th:fragment="viewExpense">

            <div class="table">

                <div class="row table-topic">
                    <div class="large-12 columns">
                        Expense
                    </div>
                </div>

                <div class="row expense-description">
                    <div class="large-12 columns" th:text="${expense.description}">
                    </div>
                </div>

                <div class="row table-header">
                    <div class="large-3 columns">
                        Employee
                    </div>
                    <div class="large-2 columns">
                        Start date
                    </div>
                    <div class="large-2 columns">
                        End date
                    </div>
                    <div class="large-3 columns">
                        Modified
                    </div>
                    <div class="large-2 columns">
                        Status
                    </div>
                </div>

                <div class="table-rows">
                    <div class="row table-row">
                        <div class="large-3 columns" th:text="${expense.user.name}">
                        </div>
                        <div class="large-2 columns" th:text="${#calendars.format(expense.startDate,'dd.MM.yyyy')}">
                        </div>
                        <div class="large-2 columns" th:text="${#calendars.format(expense.endDate,'dd.MM.yyyy')}">
                        </div>
                        <div class="large-3 columns" th:text="${#calendars.format(expense.modified,'dd.MM.yyyy HH:mm')}" >
                        </div>
                        <div class="large-2 columns" th:text="${expense.status}">
                        </div>
                    </div>
                </div>
            </div>


            <div class="table">
                <div class="row table-topic">
                    <div class="large-12 columns">
                        Rows
                    </div>
                </div>
                <div class="row table-header">
                    <div class="large-2 columns">
                        Date
                    </div>
                    <div class="large-8 columns">
                        Description
                    </div>
                    <div class="large-2 columns">
                        Amount
                    </div>
                </div>
                <div class="table-rows">
                    <div class="row table-row" th:each="row, stat : ${expense.expenseRows}">
                        <div class="large-2 columns" th:text="${#calendars.format(row.date,'dd.MM.yyyy')}">
                        </div>
                        <div class="large-8 columns" th:text="${row.description}">
                        </div>
                        <div class="large-2 columns">
                            <span th:text="${#numbers.formatDecimal(row.amount, 0, 'COMMA', 2, 'POINT')}"></span> €
                        </div>
                    </div>
                </div>
            </div>
            <div th:include="expenses/commentListFragment :: commentList" />
        </div>
    </body>
</html>
