<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>TravelExpenses | Account settings</title>
</head>
<body>
<div layout:fragment="content">

    <div class="row page-topic">
        <div class="medium-9 columns">
            <h1>Users</h1>
        </div>
        <div class="medium-3 columns"  style="text-align: right;">
            <a href="#" th:href="@{/admin/user/new}" class="button radius">+ Add user</a>
        </div>
    </div>


    <div class="row table-header hide-for-small-only">
        <div class="medium-3 columns">
            Name
        </div>
        <div class="medium-2 columns">
            Username
        </div>
        <div class="medium-2 columns">
            Roles
        </div>
        <div class="medium-3 columns">
            Forced password change
        </div>
        <div class="medium-2 columns">

        </div>
    </div>
    <div class="row user" th:each="user : ${users}">
        <div class="medium-3 columns" th:text="${user.name}">
            Name
        </div>
        <div class="medium-2 columns" th:text="${user.username}">
            Username
        </div>
        <div class="medium-2 columns">
            <div th:each="auth : ${user.authorities}"> <span th:text="${auth.authority}">Authority </span></div>
        </div>
        <div class="medium-3 columns">
            <span th:if="${user.getPasswordExpired()}">Yes</span>
        </div>
        <div class="medium-2 columns" style="text-align: right;">
            <a href="#" th:href="@{/admin/user/} + ${user.id}" class="button radius small">Edit</a>
        </div>
    </div>

</div>

</body>
</html>
