<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>TravelExpenses | Edit account</title>
    <script type="text/javascript">
        window.addEventListener("DOMContentLoaded", function () {
            var form = document.getElementById("admin-user-data-form");
            document.getElementById("admin-user-data-form-submit").addEventListener("click", function () {
                form.submit();
            });
        });
    </script>
</head>
<body>
<div layout:fragment="content">

    <div class="row page-topic">
        <div class="medium-12 columns">
            <h1>Reset password</h1>
        </div>
    </div>

    <div class="row index-wrapper">
        <div class="medium-12 columns">

            <div class="row">
                <div class="medium-12 columns">
                    <h2>New temporary password created</h2>
                </div>
            </div>
            <div class="row">
                <div class="medium-12 columns">
                    <b th:text="${user.username}">username</b> has new temporary password and
                    will be asked to change it after successful login.
                </div>
            </div>
            <div class="row">
                <div class="medium-12 columns">
                    <h3 id="temporary-password" th:text="${tempPassword}">new password</h3>
                </div>
            </div>
            <div class="row">
                <div class="medium-12 columns">
                    <a href="#" th:href="@{/admin/users}" class="button radius small">Done</a>
                </div>
            </div>


        </div>
    </div>
</div>
</body>
</html>